@font-face {
    font-family: "iconfont"; /* Project id 4930706 */
    src: url('iconfont.woff2?t=1762008511797') format('woff2'),
    url('iconfont.woff?t=1762008511797') format('woff'),
    url('iconfont.ttf?t=1762008511797') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-xiugai-copy:before {
    content: "\e606";
}

.icon-shanchu:before {
    content: "\e617";
}

.icon-ip:before {
    content: "\e64f";
}

.icon-mima:before {
    content: "\e603";
}

.icon-zhanghu:before {
    content: "\e7e5";
}

.icon-daqiyali:before {
    content: "\e60c";
}

.icon-bianji:before {
    content: "\e697";
}

.icon-zengjia:before {
    content: "\e608";
}

.icon-icon:before {
    content: "\e658";
}

.icon-zuidahua:before {
    content: "\e651";
}

.icon-zuixiaohua:before {
    content: "\e676";
}

.icon-yinshi1:before {
    content: "\e602";
}

.icon-jiankang:before {
    content: "\e601";
}

.icon-a-mti-fangxiangzuomti-jiantouzuo:before {
    content: "\e920";
}

.icon-a-mti-fangxiangzuomti-jiantouzuo-copy:before {
    content: "\e921";
}

.icon-zuozuo-:before {
    content: "\e641";
}

.icon-zuozuo--copy:before {
    content: "\e70e";
}

.icon-xieya:before {
    content: "\e628";
}

.icon-xieya1:before {
    content: "\e64c";
}

.icon-bushu:before {
    content: "\e61c";
}

.icon-xieyang:before {
    content: "\e67a";
}

.icon-shuzi0:before {
    content: "\e625";
}

.icon-shuzi1:before {
    content: "\e626";
}

.icon-shuzi2:before {
    content: "\e627";
}

.icon-shuzi6:before {
    content: "\e62b";
}

.icon-shuzi7:before {
    content: "\e62c";
}

.icon-shuzi8:before {
    content: "\e62d";
}

.icon-shuzi9:before {
    content: "\e62e";
}

.icon-shuzi4:before {
    content: "\e70c";
}

.icon-shuzi5:before {
    content: "\e70d";
}

.icon-shuzi3:before {
    content: "\e605";
}

.icon-gaoxieya:before {
    content: "\e60a";
}

.icon-gaoxieya-copy:before {
    content: "\e60b";
}

